/*	################ OK CORRAL CSS #################	*/
/*	VERSION 1.0	*/

/*	############### GLOBAL STRUCTURE ###############	*/

@import url(font_face.css); 

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 12px;
	color: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;  /* what does this do? */
	
/*	top: 0px;
	left: 0px;
	width: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-lineHeight: 100%;
/* 	background-attachment: fixed;	scroll | fixed | inherit	*/
/*	background-origin: content-box;	content-box | padding-box | border-box	*/
/*	background-repeat: no-repeat;		repeat | repeat-x | repeat-y | no-repeat | inherit */
/*	background-position: center, top;		{ horizontal [ <percentage> (0% is left, 100% is right) | <length> | left | center | right ] }, { vertical [ <percentage> (0% is top, 100% is bottom)  | <length> | top | center | bottom ] } | inherit	*/
/*	background-size: 100%, 100%;		{ width [ <percentage> | <length> | auto ] }, { height [ <percentage> | <length> | auto ] } | cover | contain	*/
/*		background-image: url(images/background.png);	*/
}

a,a:link,a:hover,a:active,a:visited {
	text-decoration: none;
	outline: 0px;
	transition: color 0.2sec ease-in;	/*	internet explorer	*/
	-webkit-transition: color 0.2sec ease-in;	/*	chrome / safari	*/
	-moz-transition: color 0.2sec ease-in;	/*	mozilla	*/
	-o-transition: color 0.2sec ease-in;	/*	opera	*/
}

h1 {
	font-size: 2em;  /* base font: 12px */
	font-weight: bold;

}

h2 {
	font-size: 1.5em;
}

/*  ############### WRAPPER   ###############   */
#wrapper {
	background-color: #000;  /* color (rgb(255, 255, 255), #000000, black; #FFFFFF, white) | transparent | inherit	*/
	position: relative; /* static | absolute | relative | fixed | inherit; sets the position of any elements contained within this element to be positioned relative to this element	*/	
	overflow: hidden; /*  visible | hidden | scroll | auto | inherit	*/
 	z-index: -1;	/*	keeps the fog behind everything	*/
} 

/*	############### CONTAINER ###############	*/
#container {
	width: 990px;
	margin: 0px auto;
	padding: 0px;
	background-color: transparent;  /* change for testing color (rgb(255, 255, 255), #000000, black; #FFFFFF, white) | transparent | inherit	*/
	border: 0px; /* none or 0px | dotted | dashed | solid | double | groove | ridge | inset | outset	*/
	position: relative; /* static | absolute | relative | fixed | inherit; sets the position of any elements contained within this element to be positioned relative to this element	*/	
	overflow: hidden; /*	visible | hidden | scroll | auto | inherit	*/
}

.fog_left {
/*	height: 100%; */
	width: 30%;
	margin: 0% 0% 0% 0%;
/*	padding: 0px; */
	float: left;
	background: transparent;
	position: fixed;
	z-index: -1;	/*	keeps the fog behind everything	*/
}

.fog_right {
/*	height: 100%; */
	width: 30%;
	margin: 0% 0% 0% 70%;
/*	padding: 0px; */
	float: right;
	z-index: -1;	/*	keeps the fog behind everything	*/
	background: transparent;
	position: fixed;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/*	############### SITE NAVIGATION ###############	*/
#navigation {
	position: fixed;
	margin: 0px;
	padding: 0px 0px 3px 20px;
	font-size: 1.5em !important;
	text-transform: uppercase; 
	letter-spacing: 1px;
	overflow: hidden;
	z-index: 10;	/*	keeps the navigation bar on top of everything except fog	*/
}
	#navigation a { 
		display: inline-block;
		color: #e4a02a;
		text-decoration: none; 
	}
	#navigation a:hover, #navigation a:focus, #navigation a:active { 
		color: #fff; 
	}
	#navigation a:visited  {
		color #cc9900;
	}
	#navigation ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
		overflow: hidden;
	}
	#navigation ul li {
		float: left;
		padding: 10px 0px 5px 0px;
	}
	#navigation ul li.blank {
		padding-left: 50px;
	}
	#navigation ul li.selected {
		font-weight: bold;
		border-bottom: 2px solid #ffcc00;
	}
	
/*	############### SITE NAVIGATION ###############	*/
#header {
	clear: both;
	width: 990px;
	position: fixed;
	margin: 50px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	z-index: 11;	/*	keeps the navigation bar on top of everything except fog	*/
}
	#header .header_logo {
		float: left;	
		height: 160px;
		width: 200px;
	}
	#header .header_text {
		text-transform: uppercase; 
		letter-spacing: 1px;
		font-size: 20px !important;
		margin: 120px 0px 0px 220px;
		padding-right: 20px;
	}
	#header .header_text ul {
		float: right;
		padding: 0px;
		margin: 0px;
		list-style: none;
		overflow: hidden;
	}
	#header .header_text ul li {
		display: inline-block;
		padding: 10px; /*	added to amount of space between each item in header_text (x2, one for each side)	*/
	}
	#header .header_text ul li a {
		color: #777777;	/*	light grey	*/
		text-shadow: 1px 1px 1px #333;	/*	dark grey	*/
	}
	#header .header_text li a:hover, header .header_text li a:focus {
		color: #FFF;	/*	white	*/
	}
	#header .header_text li.active a {
		color: #FFF;	/*	white	*/
		border-width: 6px 0px 0px 0px;	/*	same as "border-top: 6px"	*/
		border-style: solid;
		border-color: #e6b92d;	/*	gold bar at the top of the active tab	*/
	}
	#header .header_text li a:visited {
		color: #FFF;	/*	white	*/
	}

/*	#################### CONTENT ###################	*/
.content {
	width: 990px;
	height: 600px;
	margin-top: 250px;
	position: relative;	/*	sets the position of any elements contained within this element to be positioned relative to this element	*/
}

	
/*	#################### FOOTER ####################	*/

#footer {
	clear: both;
	margin-top: 70px;
	width: 990px;
	padding: 0px 0px 5px 0px;
	z-index: 10;	/*	keeps the footer on top of everything except fog	*/
	position: relative;
	color: #999;
	background-color: #3B3B3B;
	border-top: 1px solid #333;
	
/*	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	min-width: 1000px;
	margin: 0px;
	padding: 0px; */
}
	#footer ul {
		padding: 10px;
		margin: 0px;
		list-style: none;
		overflow: hidden;
	}
	#footer ul.left_column{
		width: 700px;
		float: left;
	}
	#footer ul li {
		display: inline-block;
		padding: 10px;
	}
	#footer ul li a  {
		padding: 5px 0px 5px 10px;	/*	amount of space above each item in footer_text	*/
		border-top: 6px solid #000000;	/*	black bar at the top of the inactive tabs	*/
		color: #777;  /* light grey	*/
		text-shadow: 1px 1px 1px #333;	/*	dark grey	*/
		text-transform: uppercase; 
		letter-spacing: 1px;
		font-size: 16px !important;
	}
	#footer p.map {
		margin-left: 700px;
		padding-right: 25px;
		text-align: right;
	}
	#footer  ul li a:hover {
		color: #FFF;	/*	white	*/
	}
	#footer p.address {
		width: 650px;
		float: left;
		font-size: 16px;
		font-weight: bold;
		color: #e4a02a;
		padding: 10px 0px 0px 25px;
	}
	p.rights {
		float: right;
		padding-right: 25px;
	}

.image {
	padding: 0px;
	margin: 0px;
	height: auto;
	width: auto;
	max-width: 100%;
	border: 0px;
	vertical-align: middle;
	
	-ms-interpolation-mode: bicubic;
}

/*	############# USED IN THE INDEX PAGE ############	*/

.content #center_image {
	height: auto;
	vertical-align: center;
	background: #CCCCCC;
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #333333;
} 
.content #index_top {
	width: 998px
	margin: 0px;
	padding: 0px;
	font: 95%/100% Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
}
.content #index_bottom {
	width: 1000px;
	margin: 0px;
	padding: 0px;
	font: 95%/100% Verdana, Arial, Helvetica, sans-serif;
}
.content #index_left  {
	float: left;
	width: 499px;
	text-align: center;
	padding: 0px 0px 5px 0px;
}
.content #index_right {
	float: left;
	width: 499px;
	text-align: center;
	padding: 0px 0px 5px 0px;
	border-left: 1px solid #ccc;
}


/*	############## AID FOR BLIND USERS #############	*/
#skip {
	display: none;
	position: absolute;
	top: 0px;
}


/*	################################################	*/
/*	################### FONT STYLES ################	*/
/*	################################################	*/

.style1 {
	font-family: helvetica, sans-serif;
	font-size: 100%;	/*	xx-small | x-small | small | medium | large | x-large | xx-large | smaller | larger | <length> | <percentage> | inherit	*/
	font-weight: normal;	/*	normal | lighter | bold | bolder | <number> (400 is normal, 700 is bold) | inherit	*/	
	font-style: normal;	/*	normal | italic | oblique | inherit	*/
	font-variant: normal;	/*	normal | small-caps | inherit	*/
	font-lineHeight: 100%;	/*	normal | <number> | <length> | <percentage> | inherit	*/
	
}

.style2 {
	font-family: playbill, helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 100%;
	font-lineHeight: 100%;
}

.style_normal {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
.style_smallcaps {
	font-variant: small-caps;
}

.style_black {
	color: #000000;
}
.style_white {
	color: #FFFFFF;
}
.style_darkgrey {
	color: #343434;
}


/*	################################################	*/
/*	########### NON-SEMANTIC HELPER CLASSES #########	*/
/*	################################################	*/

/*	useful in general	*/
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.horizontal_flip {
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.vertical_flip {
	transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

.left_flip {
	float: left;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.right_flip {
	float: right;
	transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/*	hide visually and from screenreaders (css-discuss.incutio.com/wiki/Screenreader_Visibility)	*/
.hidden {
	display: none;
	visibility: hidden;
}
/*	hide visually and from screenreaders, but maintain layout	*/
.invisible {
	visibility: hidden;
}

/*	hide only visually, but have it available for screenreaders (www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden)	*/
.visually_hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0px;
	border: 0px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*	extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard (drupal.org/node/897638)	*/
.visually_hidden.focusable: active,.visually_hidden.focusable: focus {
	clip: auto;
	height: auto;
	margin: 0px;
	overflow: visible;
	position: static;
	width: auto;
}

/*	clearfix: updated to prevent margin-collapsing on child elements in most situations (nicolasgallagher.com/micro-clearfix-hack/	*/
.clearfix {
	zoom: 1;
}
.clearfix: before {
	content: "";
	display: table;
}
.clearfix: after 
	content: "";
	display: table;
	clear: both;
}




